@html.extend('layout',function(model) {
	@html.block('container',function(model) {
		<div class="container_wrap">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider">
						<li><img src="/images/banner4.jpg" class="img-responsive" alt=""/>
							<div class="button">
								<a href="/single/@model.thep.imdbID" class="hvr-shutter-out-horizontal">@model.thep.Title</a>
							</div>
							<div class="banner_desc">
								<div class="container">
									<div class="row">
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Año <span class="m_1">@model.thep.Released</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Duración <span class="m_1">@model.thep.Runtime</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Rating 
											<span class="m_1">
											@for(var i = 0; i < Math.round(@model.thep.imdbRating); i++)
											{
												<span style="font-size:150%;color:yellow;">&starf;</span>
											}
											</span>
											<span><b>@model.thep.imdbRating/10</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><img src="/images/banner.jpg" class="img-responsive" alt=""/>
							<div class="button">
								<a href="/single/@model.gog.imdbID" class="hvr-shutter-out-horizontal">@model.gog.Title</a>
							</div>
							<div class="banner_desc">
								<div class="container">
									<div class="row">
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Año <span class="m_1">@model.gog.Released</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Duración <span class="m_1">@model.gog.Runtime</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Rating 
											<span class="m_1">
											@for(var i = 0; i < Math.round(@model.gog.imdbRating); i++)
											{
												<span style="font-size:150%;color:yellow;">&starf;</span>
											}
											</span>
											<span><b>@model.gog.imdbRating/10</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><img src="/images/banner1.jpg" class="img-responsive" alt=""/>
							<div class="button">
								<a href="/single/@model.tr4.imdbID" class="hvr-shutter-out-horizontal">@model.tr4.Title</a>
							</div>
							<div class="banner_desc">
								<div class="container">
									<div class="row">
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Año <span class="m_1">@model.tr4.Released</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Duración <span class="m_1">@model.tr4.Runtime</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Rating 
											<span class="m_1">
											@for(var i = 0; i < Math.round(@model.tr4.imdbRating); i++)
											{
												<span style="font-size:150%;color:yellow;">&starf;</span>
											}
											</span>
											<span><b>@model.tr4.imdbRating/10</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><img src="/images/banner2.jpg" class="img-responsive" alt=""/>
							<div class="button">
								<a href="/single/@model.got.imdbID" class="hvr-shutter-out-horizontal">@model.got.Title</a>
							</div>
							<div class="banner_desc">
								<div class="container">
									<div class="row">
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Año <span class="m_1">@model.got.Released</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Temporadas <span class="m_1">@model.got.totalSeasons</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Rating 
											<span class="m_1">
											@for(var i = 0; i < Math.round(@model.got.imdbRating); i++)
											{
												<span style="font-size:150%;color:yellow;">&starf;</span>
											}
											</span>
											<span><b>@model.got.imdbRating/10</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li><img src="/images/banner3.jpg" class="img-responsive" alt=""/>
							<div class="button">
								<a href="/single/@model.jw.imdbID" class="hvr-shutter-out-horizontal">@model.jw.Title</a>
							</div>
							<div class="banner_desc">
								<div class="container">
									<div class="row">
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Año <span class="m_1">@model.jw.Released</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Duración <span class="m_1">@model.jw.Runtime</span></div>
										<div class="col-md-4" style="display: inline-block;color: #fff;text-transform: uppercase;font-weight:600;font-size: 1.2em;">Rating 
											<span class="m_1">
											@for(var i = 0; i < Math.round(@model.jw.imdbRating); i++)
											{
												<span style="font-size:150%;color:yellow;">&starf;</span>
											}
											</span>
											<span><b>@model.jw.imdbRating/10</b></span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/movie1.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/movies" class="link">LISTA DE PELÍCULAS</a></h3>
						<p>CAPTAIN AMERICA</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/serie1.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/series" class="link">LISTA DE SERIES</a></h3>
						<p>SMALLVILLE</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/serie2.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/series" class="link">LISTA DE SERIES</a></h3>
						<p>SUITS</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/movie2.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/movies" class="link">LISTA DE PELÍCULAS</a></h3>
						<p>THOR</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/movie3.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/movies" class="link">LISTA DE PELÍCULAS</a></h3>
						<p>IRON MAN</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/serie3.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/series" class="link">LISTA DE SERIES</a></h3>
						<p>THE ORIGINALS</p>
					</header>
				</article>
			</section>
		</div>
	})
	
	@html.block('footer',function(model) {})
})