<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="/stylesheets/feature-carousel.css" charset="utf-8" />
		<!-- start plugins -->
		<script src="/javascripts/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/jquery.featureCarousel.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<script src="/javascripts/responsiveslides.min.js"></script>
		<script>
			$(function () {
			  $("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			  });
			});
		</script>
	</head>
	<body>
		<div class="container">
			@html.block('container')
		</div>
		<div class="container">
			@html.block('footer')
				<footer id="footer">
					<div id="footer-3d">
						<div class="gp-container">
							<span class="first-widget-bend"></span>
						</div>		
					</div>
					<div id="footer-widgets" class="gp-footer-larger-first-col">
						<div class="gp-container">
							<div class="footer-widget footer-1">
								<p>Listado de películas y series desde una API, de forma rápida podemos encontrar una gran diversidad.</p>
								<p class="text">Esta es la página principal, dentro de dicha página podemos dirigirnos a otros resultados dependiendo de lo que se busque.</p>
							</div>
							<div class="footer_box">
								<div class="col_1_of_3 span_1_of_3">
									<h3>Categories</h3>
									<ul class="first">
										<li><a href="#">Dance</a></li>
										<li><a href="#">History</a></li>
										<li><a href="#">Specials</a></li>
									</ul>
								</div>
								<div class="col_1_of_3 span_1_of_3">
									<h3>Information</h3>
									<ul class="first">
										<li><a href="#">New products</a></li>
										<li><a href="#">top sellers</a></li>
										<li><a href="#">Specials</a></li>
									</ul>
								</div>
								<div class="col_1_of_3 span_1_of_3">
									<h3>Follow Us</h3>
									<ul class="first">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Youtube</a></li>
									</ul>
									<div class="copy">
										<p>Powered by <b>Julio Santana</b> <a href="https://twitter.com/Julio_Mac_" target="_blank"> Twitter</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</footer>
		</div>
		<!-- Scripts -->
		<script src="/javascripts/jquery.scrolly.min.js"></script>
		<script src="/javascripts/jquery.scrollex.min.js"></script>
		<script src="/javascripts/skel.min.js"></script>
		<script src="/javascripts/util.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>